server {
    listen      $NGINX_PORT;
    server_name $NGINX_HOST
    index       index.php;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        root           /srv/www/public;
        fastcgi_pass   $NGINX_FPM_URL;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}